.page {
    font-family: 'Inter', Arial, sans-serif;
    background-color: #2A2C2F;
    color: #FFFFFF;
    padding: 28px 0 24px;
    text-rendering: optimizeLegibility;
}
@media screen and (max-width: 767px) {
    .page {
        padding: 16px 0 24px;
    }
}