.intro {
  margin: 92px 0 92px 148px;
  text-align: left;
  width: 690px;
}
@media screen and (min-width: 1024px) and (max-width:1279px) {
  .intro {
    margin: 92px 0 92px 48px;
  }
}
@media screen and (min-width: 768px) and (max-width:1023px) {
  .intro {
    max-width: 720px;
    margin: 88px auto;
  }
}
@media screen and (max-width:767px) {
  .intro {
    max-width: 288px;
    margin: 64px auto;
  }
}