.photo-grid__items {
  display:grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  object-fit: contain;
  grid-gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}
@media screen and (max-width:1279px) {
  .photo-grid__items {
    max-width: 928px;
    grid-gap: 14px;
  }
}
@media screen and (max-width:1023px) {
  .photo-grid__items {
    max-width: 720px;
    grid-gap: 16px;
  }
}
@media screen and (max-width: 767px) {
  .photo-grid__items {
    max-width: 288px;
    grid-gap: 12px;
  }
}
