.cover__background {
  background-image: url(../../../images/cover-trains.jpg);
  width: 1184px;
  min-height: 740px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  color: white;
  text-decoration: none;
}