.cover__title {
  max-width: 560px;
  text-align: center;
  margin: 0 auto 32px;
  font-weight: 900;
  font-family: "Inter-Black", Arial, sans-serif;
  font-size: 72px;
  line-height: 76px;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .cover__title {
    margin: 0 auto 16px;
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}