.footer {
  margin: 92px auto;
  max-width: 1184px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and(min-width: 768px) and (max-width: 1024px) {
  .footer {
    margin: 92px 24px 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer {
    margin: 88px 24px 0;
    max-width: 720px;
  }
}
@media screen and (max-width: 767px) {
  .footer {
    margin: 64px 16px 0;
    max-width: 186px;
    display: grid;
    grid-template-columns: repeat(auto, max-content);
    gap: 48px;
  }
}